@keyframes slideUp {
    0% {
        top: 5px;
    }
    
    100% {
        top: -7px;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
    }   
    20%{
        opacity: 0.6;
        display: none;
    }
}

.section-noticeLine-wrap {
    height :62px;
    /* 공지 사항 */
    .noticeLine-left {
        width :55%;
        float : left;
        height  :100%;
        background: black;
        color :white;
        .noticeLine-left-inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            .notice{
                font-size: 1rem;
                margin-right : 10px;
            }
            .notice_content {
                width :65%;
                position: relative;
                .notice_content_item {
                    position: absolute;
                    font-size: 13px;
                    top : -7px;
                    z-index: 1;
                    animation: fadeOut 0.5s forwards;
                    display: none;
                    list-style: none;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .notice_content_item.focus{
                    display: block;
                    z-index: 2;
                    animation: slideUp 1s  forwards;
                }
            } 
            .notice_detail_btn{
                margin-right: 20px;
            }
        }
        
    }
    /*스타벅스 프로모션*/
    .noticeLine-right {
        float: right;
        width : 45%;
        height  :100%;
        background-color: f6f5ef;
        color : #666666;
        text-align: center;
        .noticeLine_right_inner {
            display: flex;
            width: 70%;
            height: 100%;
            cursor: pointer;
            align-items: center;
            margin-left : 0px;
            border : none;
            background: transparent;
            .promotion_title {
                padding-left: 20px;
                display: block;
                font-size : 16px;
                width: 100%;
            }
            .promotion_open {
                width: 35px;
                height: 35px;
            }
        }
    }
}

@media screen and (max-width : 1480px) {
    .section-noticeLine-wrap {
        .noticeLine-left{
            position: relative;
            width: 50%;
            .noticeLine-left-inner{
                flex-wrap: nowrap;
                .notice {
                    flex-grow: 1;
                    text-align: right;
                }
                .notice_content{
                    width : 320px;
                    flex-grow : 0;
                   
                }
                .notice_detail_btn {
                    flex-grow: 0;
                }
            }
        }

        .noticeLine-right {
            width : 50%;
            .noticeLine_right_inner {
                width: 70%;
                margin-left : 0px;
                .promotion_title {
                    display: block;
                    width: 100%;
                    font-size : 16px;
                }
                .promotion_open {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}