$nav-wrap-bg : #f6f5ef;

.nav_wrap {
    border-top : 2px solid black;
    border-bottom: 2px solid black;
    width : 100%;
    height : 120px;
    position : fixed;
    background: $nav-wrap-bg;
    .nav_inner{
        position: relative;
        margin : 0 auto;
        width : 1100px;
        height: 120px;
        .logo {
            position: relative;
            top : 22px;
            width : 75px;
            height : 75px;
            img {
                width : 100%;
                height : 100%;
                display: block;
            }
        }
        .util_nav {
            position: absolute;
            width : 464px;
            height : 20px;
            right: 93px;
            top: 15px;
            ul , li {
                list-style: none;
            }
            li { 
                float:left;
                text-align: center;
                color: #555;
                display: block;
                font: normal 13px Avenir, Arial, georgia;
                cursor: pointer;
            }
            .util_nav_item1{
                width : 76px;   
            }
            .util_nav_item2 {
                width : 107px; 
            }
            .util_nav_item3{
                width : 181px;
            }
            .util_nav_item4{
                width : 97px;
            }
        }
        .search {
            position: absolute;
            height: 32px;
            right: 54px;
            top: 9px;
            width: 32px;
            background: #FFF;
            border: 1px solid #ccc;
            border-radius: 5px; 
            color : #000000;
            .searchBar {
                display: none;
            }
            .searchBtn{
                display: block;
                width : 100%;
                height: 100%;
                text-align: center;
                padding-top : 4px;
            }
        }
    }
    .sub_gnb_nav {
        position: absolute;
        width: 100%;
        left : 0;
        top: 54px;
        .sub_gnb_nav_inner {
            box-sizing: border-box;
            width : 1100px;
            height : 63px;
            margin :0 auto;
            .sub_gnb_nav_item{
                float : right;
                height: 100%;
            }
            .sub_gnb_nav_item1 {
                width : 89px;
            }
            .sub_gnb_nav_item2 {
                width : 73px;
            }
            .sub_gnb_nav_item3 {
                width : 79px;
            }
            .sub_gnb_nav_item4 {
                width : 153px;
            }
            .sub_gnb_nav_item5 {
                width : 200px;
            }
            .sub_gnb_nav_item6 {
                width : 170px;
            }
            .sub_gnb_nav_item7 {
                width: 131px;
            }
            
            .sub_gnb_nav_item > li:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .sub_gnb_nav_item > li:hover .dropDown_content_wrap {
                display: block;    
            }

            > ul > li {
                list-style: none;
                height: 100%;
                color : #333;
                > h2 {        
                    height: 100%;
                    display: block;
                    font: normal 13px Avenir, Arial, georgia;
                    text-align: center;
                    width: 100%;
                    padding-top: 10px;
                    line-height: 20px;
                }
                &:hover {
                    color : #669900;
                    background: #2C2A29;
                }
            }
            li { 
                float : left;
            }
        }
    }
}

@media screen and (max-width : 660px){
    .util_nav { 
        display : none;
    }    
    .search {
        display: none;
    }
    .sub_gnb_nav {
        display :none;
    }
}

@media screen and (max-width : 960px) {
    .util_nav { 
        display : none;
    }
    .search {
        display: none;
    }
    .sub_gnb_nav {
        display :none;
    }
    .nav_wrap {
        display: none;
    }
}
@media screen and (max-width : 1120px){
    .nav_inner {
        width: 100% !important; 
    }
    .sub_gnb_nav_inner {
        width : 100% !important;
    }
}
