$main-visual-wrap-bg : url('../../../../public/assets/bgmain.jpg');
$tab-main-visual-wrap-bg : url('../../../../public/assets/tab_bg_main.jpg');
@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main-visual-wrap {
    height : 32vw;
    background: no-repeat $main-visual-wrap-bg;
    background-size: cover;
    background-position: center;

    .main-visual-inner {
        max-width: 100%;
        height: 100%;
        position: relative;
    }

    .btn_main_visual_slogan {
        position: absolute;
        width : 16%;
        top : 64%;
        left : 15.2%;
        height: 38px;
        text-align: center;
        & > a {
            background: transparent;
            display: block;
            width: 42%;
            height: 100%;
            line-height: 38px;
            margin : 0 auto;
            border : 2px solid #1a3c34;
            border-radius: 5px;
            text-decoration: none;
            color : #1a3c34;
            font-size: 1vw;
            opacity: 0;
            animation: popup 0.5s 2s forwards;
            &:hover {
                color : white;
                background-color: #1a3c34;
                text-decoration: underline;
                transition: 0.7s;
            }
        }
    }
    .main-visual_slogan {
        opacity: 0;
        position: absolute;
        width : 16%;
        top : 27%;
        left : 15.2%;
        animation: popup 0.5s forwards;
        .pc-slogan{
            width : 100%;
        }
        .tab-slogan {
            display: none;
        }
    }
    .main-visual_set {
        height : 100%;
        .set_common {
            position: absolute;
            .pc-drink {
                width: 100%;
            }
            .tab-drink {
                display : none;
            }
        }
        .set_01 {
            opacity: 0;
            top: 52.1%;
            left: 50.3%;
            width: 16.4%;
            z-index: 2;
            animation: popup 0.5s 0.5s forwards;
        }
        .set_02 {
            opacity: 0;
            left: 34.5%;
            top: 20.7%;
            width: 20.8%;
            z-index: 1;
            animation: popup 0.5s 1s forwards;
        }
        .set_03 {
            opacity: 0;
            top: 13%;
            right: 22.3%;
            width: 16.6%;
            z-index:2;
            animation: popup  0.5s 1.5s forwards;
        }
    }
  

}

@media screen and (max-width : 960px) {
    .main-visual-wrap {
        height : 255vw;
        width: auto;
        background: no-repeat $tab-main-visual-wrap-bg;
        background-size: cover;
        background-position: center;
    
        .main-visual-inner {
            max-width: 100%;
            position: relative;
        }
    
        .btn_main_visual_slogan {
            position: absolute;
            width : 100%;
            top : 87.4%;
            left : 50%;
            transform: translateX(-50%);
            height: auto;
            text-align: center;
            & > a {
                width: 38%;
                height: 100%;
                line-height: 10vw;
                border-radius: 3px;
                color : #1a3c34;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .main-visual_slogan {
            width : 42%;
            top : 9%;
            left : 28.9%;
            .pc-slogan{
                display: none;
            }
            .tab-slogan {
                display: block;
                width : 100%;
            }
        }
        .main-visual_set {
            height : 100%;
            .set_common {
                position: absolute;
                .pc-drink {
                    width: 100%;
                    display: none;
                }
                .tab-drink { 
                    display: block;
                    width : 100%;
                }
                
            }
            .set_01 {
                top: 22.3%;
                left: 16.6%;
                width: 72%;
            }
            .set_02 {
                top: 37.4%;
                width: 72%;
                left : 19.7%;
            }
            .set_03 {
                top: 59.9%;
                left: 17.4%;
                width: 66%;
            }
        }
      
    
    }
}