$bg-magazine : url(../../../../public/assets/bg_magazine.png); 

@keyframes pop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.section-magazine-wrap {
    position: relative;
    height : 42vw;
    max-height: 400px;
    background: $bg-magazine no-repeat center;
    background-size: cover;
    .magazine-inner {
        position: relative;
        height : 100%;
        max-width : 1100px;
        margin : 0 auto;
        .magazine-title {
            position: relative;
            display: block;
            max-width: 1100px;
            width: 100%;
            padding-top : 135px;
            padding-left : 55px;
            z-index: 2;
            .pc-magazine-title {
                transform: translateX(185px);
                width : auto;
            }
        }
        
        .magazine-visual {
            display: block;
            position: absolute;
            right : 6.2%;
            top : 0%;
            z-index: 1;
            animation: pop 3s forwards;
            .tab-magazine-visual {
                display: none;
            }
        }

        .btn-magazine-wrap {
            width : 100%;
            max-width: 1100px;
            margin: 33px auto;
            & > a { 
                display: block;
                box-sizing: border-box;
                text-align: center;
                font-size: 15px;
                line-height: 34px;
                width : 125px;
                height: 100%;
                text-decoration: none;
                border-radius: 5px;
                border : 2px solid #000000;
                color : #000000;
                margin-left : 340px;
                &:hover { 
                    color : #fff;
                    background-color: #000000;
                    text-decoration: underline;
                    transition: 0.7s;
                }
            }           
        }
    }
}   


@media screen and (max-width : 960px) {
    .section-magazine-wrap {
        background: none;
        height: auto;
        max-height: max-content;
        .magazine-inner {
            height: auto;
            margin: 0;
            .magazine-title {
                display: none;
            }
            .magazine-visual {
                width: 100%;
                height: auto;
                position: relative;
                right: 0;
                .pc-magazine-visual{
                    display: none;
                }
                .tab-magazine-visual { 
                    display: block;
                    width: 100%; 
                    max-width: none;
                }
            }
            .btn-magazine-wrap {
                position: absolute;
                z-index: 2;
                bottom : 0;
                left : 20%;
                & > a {
                    border: none;
                    border-radius: 0px;
                    border-top : 4px solid black;
                    font-weight: bolder;
                    font-size: 15px;
                    &:hover {
                        background: transparent;
                        color : black;
                    }
                }
            }
        }
    }
}